<span class="loginwith">Sign in with<br />social network</span>
<button class="social-signin facebook">Log in with Facebook</button>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= form_for "Login",
      url: omniauth_authorize_path(resource_name, provider),
      method: :post,
      data: { turbo: "false" } do |form| %>
        <% if provider.name == "github" %>
          <%= button_to "Log in with #{OmniAuth::Utils.camelize(provider)}", 
                              omniauth_authorize_path(resource_name, provider),
                              method: :post,
                              class: "social-signin github"%>
        <% elsif provider.name == "google_oauth2"%>
          <%= button_to "Log in with #{OmniAuth::Utils.camelize(provider)[0,6]}+", 
                              omniauth_authorize_path(resource_name, provider),
                              method: :post,
                              class: "social-signin google"%>
        <% end %>
    <% end %>
  <% end %>
<% end %>