<div class="profile">
  <% if user_signed_in? %>
    <div class="profile__item">
      <div class="profile__image">
        <%= image_tag current_user.image, size: '64x64', alt: "#{current_user.email}" if current_user.image? %>
      </div>
    </div>
    <div class="profile__item">
      <div class="profile__name">
        <%= current_user.name %>
      </div>
    </div>
    <div class="profile__item">
      <div class="profile__email">
        <%= link_to current_user.email, edit_user_registration_path %>
      </div>
    </div>
    
    <%#= current_user.uid %>
    <%#= current_user.provider %>
    

  <% end %>
</div>