/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #131313;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  padding-left: 0;
}

#notice {
  background-color: green;
  color: white;
  border-radius: 6px;
  padding: 6px;
}

#alert {
  background-color: red;
  color: white;
  border-radius: 6px;
  padding: 6px;
}

#error_explanation {
  color: red;
  border: 2px solid red;
  border-radius: 6px;
  padding: 6px;
  margin-bottom: 6px;
  word-break: break-word;
}

.scaffold_record {
  border: 2px solid #bfbfbf;
  border-radius: 6px;
  /* padding: 10px; */
  min-height: 150px;
  align-items: center;
  margin-bottom: 6px;
  word-break: break-word;
}

.container {
  max-width: 800px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: teal;
  color: #fff;
  /* padding-left: 20px; */
}

.navbar {
  padding: 20px 0px;
}

.nav__links {
  display: flex;
}

.nav__item + .nav__item {
  /* padding-left: 10px; */
}

.nav__link,
.logo {
  text-transform: uppercase;
  padding: 20px 20px;
  transition: all 0.3s;
}

.nav__link:hover,
.logo:hover {
  background-color: #a8b318;
  color: #fff;
}
