/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #131313;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  padding-left: 0;
}

#notice {
  /* background-color: green; */
  /* background-color: #00c4a7; */
  background-color: rgb(73 208 115);
  color: #fff;
  border-radius: 6px;
  padding: 10px;
}

#alert {
  /* background-color: red; */
  background-color: #f14668;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
}

#error_explanation {
  color: red;
  border: 2px solid red;
  border-radius: 6px;
  padding: 6px;
  margin-bottom: 6px;
  word-break: break-word;
}

.container {
  max-width: 800px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: teal;
  color: #fff;
  /* padding-left: 20px; */
}

.navbar {
  padding: 20px 0px;
}

.nav__links {
  display: flex;
}

.nav__link,
.logo {
  text-transform: uppercase;
  padding: 20px 20px;
  transition: all 0.3s;
}

.nav__link:active,
.logo:active {
  text-transform: uppercase;
  padding: 20px 20px;
  transition: all 0.3s;
}

.nav__link:hover,
.logo:hover {
  background-color: #a8b318;
  /* background-color: #00d1b2; */
  color: #fff;
}

.profile {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 28px;
  color: #131313;
  display: flex;
  justify-content: stretch;
  align-items: center;
  height: 90px;
  padding-left: 5px;
}

.profile__item {
  padding-top: 10px;
  text-align: center;
}

.profile__item + .profile__item {
  padding-left: 20px;
}

.profile__image img {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 0.12em;
  /* margin-bottom: 1em; */
}

.inbox__count h1 {
  font-weight: 400;
  font-style: italic;
  margin: 0.1em 0;
  padding-left: 5px;
}

.inbox__search-form {
  font-size: 22px;
  /* line-height: 2; */
  padding: 10px 0px;
  padding-left: 5px;
}

.inbox__search-form p {
  margin: 0.5em 0;
}

.inbox__search-items {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 15px;
}

.inbox__search-item + .inbox__search-item {
  padding-left: 15px;
  align-items: center;
}

.inbox__search-field input {
  border: 2px solid teal;
  border-radius: 0.375em;
  height: 35px;
  font-size: 20px;

  /* width: 100px; */
}

.inbox__search-field input[type="search"]:focus {
  /* box-shadow: 0 0 0 0.125em rgb(0 209 178 / 25%); */
  box-shadow: 0 0 10px 3px rgb(0 128 128 / 60%);
  /* box-shadow: 0 0 10px 3px teal; */
  /* border-color: teal; */
}
/* Clear palceholder on focus */
.inbox__search-field input[type="search"]:focus::-webkit-input-placeholder {
  color: transparent;
}

.inbox__search-submit input[type="submit"] {
  background-color: teal;
  color: #fff;
  border-color: transparent;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  border-radius: 0.375em;
  font-size: 17px;
}

.inbox__search-submit input[type="submit"]:hover {
  box-shadow: 0 0 10px 3px rgb(0 128 128 / 60%);
}

.inbox__sort {
  padding-bottom: 10px;
}
.inbox__sort-items {
  display: flex;
  margin-bottom: 15px;
  padding-left: 5px;
}

.inboxes {
  display: block;
}

.sort_link + .sort_link {
  padding-left: 34px;
}

/* Hover Refresh link */

.inbox__refresh-link {
  background-image: linear-gradient(to right, teal, teal 50%, #000 50%);
  background-size: 200% 100%;
  background-position: 100%;
  display: inline-block;
  margin-left: 30px;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.inbox__refresh-link:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0px;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.inbox__refresh-link:hover {
  background-position: 0;
}

.inbox__refresh-link:hover::before {
  padding-left: 30px;
  width: 100%;
}

.inbox__buttons {
  padding: 1px 0;
}

.scaffold_record {
  /* border: 2px solid #bfbfbf; */
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%),
    0 0 0 1px rgb(10 10 10 / 2%);
  padding: 1.25rem;
  min-height: 100px;
  align-items: center;
  margin-bottom: 20px;
  word-break: break-word;
}

.scaffold_record h3 {
  margin-top: 5px;
  margin-bottom: 10px;
}

.inbox__buttons {
  display: flex;
  height: 50px;
  width: 100px;
  align-items: center;
  margin-bottom: 20px;
}

.inbox__button-edit a {
  background-color: #ffe08a;
  color: #000;
  margin-right: 10px;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.7em - 1px);
  padding-left: 1.6em;
  padding-right: 1.6em;
  padding-top: calc(0.7em - 1px);
  text-align: center;
  white-space: nowrap;
  border-radius: 0.375em;
  font-size: 17px;
  font-weight: 500;
  font-style: oblique;
}

.inbox__button-destroy a {
  font-weight: 500;
  font-style: oblique;
  background-color: #df284d;
  color: #fff;
  margin-right: 20px;
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(0.7em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.7em - 1px);
  text-align: center;
  white-space: nowrap;
  border-radius: 0.375em;
  font-size: 17px;
}

.inbox__messages span {
  font-weight: 500;
  font-style: italic;
}

p.inbox__creator-text {
  margin: 5px 0;
}

p.inbox__creator-text span {
  font-size: 22px;
  font-weight: 300;
  font-style: italic;
}
